ion-content {
    --background: url('../../assets/wilhelmiinalogo.JPG') no-repeat center center fixed cover;
    --background-size: cover;
  }
  
  ion-item {
   --background: transparent;
   --ion-color-base: transparent !important;
  } 
  

  ion-tabs {
   --background: url('../../assets/wilhelmiinalogo.JPG') no-repeat center center fixed cover;
   --background-size: cover;
  
  }
  ion-tab-bar {
   --background: url('../../assets/wilhelmiinalogo.JPG') no-repeat center center fixed cover;
   --background-size: cover;
  
  } 