<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>
      Courses
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-searchbar showCancelButton= "focus"></ion-searchbar>
    <ion-toolbar>
      <ion-title size="large">Courses</ion-title>
    </ion-toolbar>
  </ion-header>
  

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>

<body>
  <ion-app>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Courses</ion-title>
      </ion-toolbar>
    </ion-header>,
    <ion-content fullscreen>
      <ion-searchbar showCancelButton= "focus"></ion-searchbar>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Choose course:</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button size="small" href="/touchid" routerLink="https://classroom.google.com/c/MjM3NzA1MDk0NTIx?cjc=igkb6ju">Mathematics</ion-button>
          <ion-button size="small" href="/touchid" routerLink="https://classroom.google.com/c/MjM3NzA1MDk0NTQw?cjc=ssznzhk">Finnish language 1</ion-button>
          <ion-button size="small" href="/touchid" routerLink="https://classroom.google.com/c/MjM3NzA1MDk0NTQ2?cjc=egqkv2a">Biology and geography 1</ion-button>
          <img src="../../assets/coursepic.jpg" />
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-app>

</body>
