<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    
    <ion-title>
      Cart
    </ion-title>
   
  </ion-toolbar>
</ion-header> -->
<body>
  <ion-app>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>WilhelMiina</ion-title>
      </ion-toolbar>
    </ion-header>,
    <ion-content fullscreen>
      <ion-card>
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div text-center>
              </div>
              <div padding>
                <ion-item>
                  <ion-input type="text" placeholder="Write message"></ion-input>
                </ion-item>
                <div padding>
                  <ion-button size="large" href="/touchid" expand="block" routerLink="tabs">Submit</ion-button>
                </div>
                <ion-item>
                  <ion-input type="password" placeholder="1 message pending..."></ion-input>
                </ion-item>
                <div padding>
                  <ion-button size="large" href="/touchid" expand="block" routerLink="tabs">Receive</ion-button>
                </div>
              </div>
        
            
            </ion-col>
          </ion-row>
        </ion-grid>
        
        <ion-card-header>
          
        </ion-card-header>
        <ion-card-content>
          
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-app>
</body>
<!-- <ion-header> 
  <ion-toolbar> 
  <ion-title> 
  Select Example 
  </ion-title> 
  </ion-toolbar> 
  </ion-header> 
  <ion-content color="light"> 
  <ion-list> 
  <ion-list-header>Multiple Selection</ion-list-header> 
  <ion-item> 
  <ion-label>Subjects</ion-label> 
  <ion-select multiple="true" cancelText="Dismiss" okText="Ok"> 
  <ion-select-option value="Maths">Maths</ion-select-option> 
  <ion-select-option value="Science">Science</ion-select-option> 
  <ion-select-option value="Computer">Computer</ion-select-option> 
  <ion-select-option value="English">English</ion-select-option> 
  <ion-select-option value="Civics">Civics</ion-select-option> 
  <ion-select-option value="Hindi">Hindi</ion-select-option> 
  </ion-select> 
  </ion-item> 
  <ion-item> 
  <ion-label>Games</ion-label> 
  <ion-select multiple="true" cancelText="Dismiss" okText="Ok"> 
  <ion-select-option value="Cricket">Cricket</ion-select-option> 
  <ion-select-option value="Hockey">Hockey</ion-select-option> 
  <ion-select-option value="Badminton">Badminton</ion-select-option> 
  <ion-select-option value="Tennis">Tennis</ion-select-option> 
  <ion-select-option value="Bollyball">Bollyball</ion-select-option>
  </ion-select> 
  </ion-item> 
  <ion-item> 
  <ion-label>Computer Languages</ion-label> 
  <ion-select multiple="true" cancelText="Dismiss" okText="Ok"> 
  <ion-select-option value="Android">Android</ion-select-option> 
  <ion-select-option value="Java">Java</ion-select-option> 
  <ion-select-option value="Python">Python</ion-select-option> 
  <ion-select-option value="Angular">Angular</ion-select-option> 
  <ion-select-option value="PHP">PHP</ion-select-option>
  </ion-select> 
  </ion-item> 
  </ion-list> 
  </ion-content>   -->

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cart</ion-title>      
    </ion-toolbar>
  </ion-header>


    <ion-searchbar showCancelButton= "focus"></ion-searchbar>


  

  <app-explore-container name="Tab 3 page">
  </app-explore-container>
  
</ion-content>
 -->