<ion-header>
  <ion-toolbar>
    <ion-title>Biology</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
<body>
  <ion-app>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Card</ion-title>
      </ion-toolbar>
    </ion-header>,
    <ion-content fullscreen>
      <ion-card>
        <img src="../../assets/biology.jpg" />
        <ion-card-header>
          <ion-card-title>Welcome to the world of Biology</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Get ready start your journey! 
          <ion-button size="small" href="/touchid" routerLink="/tab2" class="ios" tab="tab2">Select another course</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-app>
</body>